<section ng-controller=ExampleController>
    <div data-ng-show="!authentication.user">
        <a href="/signup">Crear Cuenta</a>
        <a href="/signin">Identificarse</a>
    </div>
    <div data-ng-show="authentication.user">
        <img src="{{authentication.user.providerData.picture}}" >
        <h1>Hello <span data-ng-bind="authentication.user.providerData.name"></span> </h1>
        <a href="/signout">Cerrar sesión</a>
        <ul>
            <li><a href="/#!/articles">Listar artículos</a> </li>
            <li><a href="/#!/articles/create">Crear Artículo</a> </li>
        </ul>
    </div>

</section>
